/nbproject/private/
/build/
/libs/Lemur-1.5.2/extensions/ScriptMonkey/nbproject/private/
/libs/Lemur-1.5.2/nbproject/private/
/libs-testing/Lemur-1.5.2/extensions/ScriptMonkey/nbproject/private/
/libs-testing/Lemur-1.5.2/nbproject/private/